
<div class="js-parallax-scene">
  <div class="banner-shape-1 w-100" data-depth="0.30">
      <img src="/images/berry.png" alt="">
  </div>
  <div class="banner-shape-2 w-100" data-depth="0.25">
      <img src="/images/leaf.png" alt="">
  </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-4 position-relative">
  <div class="col-lg-4">
    <div class="banner-img-wp">
        <div class="banner-img">
          <img src="/images/main-b.jpg" alt="" class="banner-img">
        </div>
    </div>
</div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Welcome to my Balanced Food Blog</h1>
    <p class="lead">
      Explore our diverse selection of healthy recipes that focus on balanced ingredients, allowing you to enjoy delicious meals without excess calories. Our dishes emphasize smart ingredient choices, making it easy to create satisfying meals that nourish your body while delighting your taste buds. Whether you're looking for light yet flavorful options or innovative ways to enjoy classic favorites, we've got you covered!
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/explore-latest" class="sec-btn">Explore Latest</a>
      <a href="/explore-random" class="sec-btn">Show Random</a>
    </div>

  </div>

</div>




<!-- New categories start -->
<section style="background-image: url(/images/menu-bg.png);"
    class="our-menu section bg-light repeat-img" id="menu">
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sec-title text-center mb-5">
                        <p class="sec-sub-title mb-3">Recipes</p>
                        <h2 class="h2-title">wake up early, <span>eat fresh & healthy</span></h2>
                        <div class="sec-title-shape mb-4">
                            <img src="/images/title-shape.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-tab-wp">
                <div class="row">
                    <div class="col-lg-12 m-auto">
                        <div class="menu-tab text-center">
                            <ul class="filters">
                                <div class="filter-active"></div>
                                <li class="filter" data-filter=".all, .breakfast, .lunch, .dinner" aria-label="all">
                                    <img src="/images/menu-1.png" alt="">
                                    All
                                </li>
                                <li class="filter" data-filter=".breakfast" aria-label="breakfast">
                                    <img src="/images/menu-2.png" alt="">
                                    Breakfast
                                </li>
                                <li class="filter" data-filter=".lunch" aria-label="lunch">
                                    <img src="/images/menu-3.png" alt="">
                                    Lunch
                                </li>
                                <li class="filter" data-filter=".dinner" aria-label="dinner">
                                    <img src="/images/menu-4.png" alt="">
                                    Dinner
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-list-row">
                <div class="row g-xxl-5 bydefault_show" id="menu-dish">

                  <div class="row row-cols-1 row-cols-lg-5 g-2 g-lg-5">
                    <% if(typeof food.latest !== 'undefined' && food.latest.length > 0) { %>
                      <% food.latest.forEach(function(recipe, index){ %>
                      
                        <div class="col-lg-4 col-sm-6 dish-box-wp all" data-cat="all">
                          <div class="dish-box text-center">
                              <a href="/recipe/<%= recipe._id %>" class="col text-center">
                                <div class="category__img category__img--large">
                                  <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                                </div>
                              
                                <div class="dish-title">
                                    <h3 class="h3-title"><%= recipe.name %></h3>
                                    <p>120 calories</p>
                                </div>
                                <div class="dish-info">
                                    <ul>
                                        <li>
                                            <p>Type</p>
                                            <b>Non Veg</b>
                                        </li>
                                        <li>
                                            <p>Persons</p>
                                            <b>2</b>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dist-bottom-row">
                                    something
                                </div>
                              </a>
                          </div>
                      </div>
                     

                      
                      <% }) %>
                    <% } else { %>
                      <p>No items found.</p>
                    <% } %>

                    <!-- BREAKFAST -->
                    <% if(typeof food.breakfastMeals !== 'undefined' && food.breakfastMeals.length > 0) { %>
                      <% food.breakfastMeals.forEach(function(recipe, index){ %>
                      
                        <div class="col-lg-4 col-sm-6 dish-box-wp breakfast" data-cat="breakfast">
                          <div class="dish-box text-center">
                              <a href="/recipe/<%= recipe._id %>" class="col text-center">
                                <div class="category__img category__img--large">
                                  <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                                </div>
                              </a>
                                <div class="dish-title">
                                    <h3 class="h3-title"><%= recipe.name %></h3>
                                    <p>120 calories</p>
                                </div>
                                <div class="dish-info">
                                    <ul>
                                        <li>
                                            <p>Type</p>
                                            <b>Non Veg</b>
                                        </li>
                                        <li>
                                            <p>Persons</p>
                                            <b>2</b>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dist-bottom-row">
                                    something
                                </div>
                              </a>
                          </div>
                      </div>
                      

                      
                      <% }) %>
                    <% } else { %>
                      <p>No items found.</p>
                    <% } %>

                    <!-- LUNCH -->
                    <% if(typeof food.lunchMeals !== 'undefined' && food.lunchMeals.length > 0) { %>
                      <% food.lunchMeals.forEach(function(recipe, index){ %>
                      
                        <div class="col-lg-4 col-sm-6 dish-box-wp lunch" data-cat="lunch">
                          <div class="dish-box text-center">
                              <a href="/recipe/<%= recipe._id %>" class="col text-center">
                                <div class="category__img category__img--large">
                                  <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                                </div>
                              
                                <div class="dish-title">
                                    <h3 class="h3-title"><%= recipe.name %></h3>
                                    <p>120 calories</p>
                                </div>
                                <div class="dish-info">
                                    <ul>
                                        <li>
                                            <p>Type</p>
                                            <b>Non Veg</b>
                                        </li>
                                        <li>
                                            <p>Persons</p>
                                            <b>2</b>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dist-bottom-row">
                                    something
                                </div>
                              </a>
                          </div>
                      </div>
                      </a>

                      
                      <% }) %>
                    <% } else { %>
                      <p>No items found.</p>
                    <% } %>

                    <!-- DINNER -->
                    <% if(typeof food.dinnerMeals !== 'undefined' && food.dinnerMeals.length > 0) { %>
                      <% food.dinnerMeals.forEach(function(recipe, index){ %>
                      
                        <div class="col-lg-4 col-sm-6 dish-box-wp dinner" data-cat="dinner">
                          <div class="dish-box text-center">
                              <a href="/recipe/<%= recipe._id %>" class="col text-center">
                                <div class="category__img category__img--large">
                                  <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                                </div>
                              
                                <div class="dish-title">
                                    <h3 class="h3-title"><%= recipe.name %></h3>
                                    <p>120 calories</p>
                                </div>
                                <div class="dish-info">
                                    <ul>
                                        <li>
                                            <p>Type</p>
                                            <b>Non Veg</b>
                                        </li>
                                        <li>
                                            <p>Persons</p>
                                            <b>2</b>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dist-bottom-row">
                                    something
                                </div>
                              </a>
                          </div>
                      </div>
                     

                      
                      <% }) %>
                    <% } else { %>
                      <p>No items found.</p>
                    <% } %>
                  
                  </div>
                  
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <a href="/explore-latest" class="sec-btn">Show More</a>
    </div>
</section>
<!-- New categories end-->

<!-- Categories Start -->

<h3 class="h3-title">Categories</h3>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

  <% if(categories != '') { %>
    <% categories.forEach(function(category, index) { %>
      <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%- category.name %></div>
      </a>
    <% }) %>
  <% } %>

  <a href="/categories" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="img/view-all.jpg" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">View All</div>
  </a>

</div>
<!-- Categories End -->

<!-- Latest Start -->

<!-- <section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Latest Recipes</h2>
    <a href="/explore-latest" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(food != '') { %>
      <% food.latest.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>

</section> -->
<!-- Latest End -->

<!-- Thai Start -->
<!-- <section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Thai Recipes</h2>
    <a href="/categories/Thai" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(typeof food.thai !== 'undefined' && food.thai.length > 0) { %>
      <% food.thai.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section> -->
<!-- Thai End -->

<!-- American Start -->
<!-- <section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>American Recipes</h2>
    <a href="/categories/American" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.american != '') { %>
      <% food.american.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section> -->
<!-- American End -->

<!-- Chinese Recipes -->
<!-- <section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Chinese Recipes</h2>
    <a href="/categories/American" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.chinese != '') { %>
      <% food.chinese.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section> -->
<!-- Chinese End -->





<!-- Submit - Start -->
<section class="px-4 py-5 my-5 text-center">
  <img src="/img/publish-recipe.png" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe for FREE today" width="566" height="208" loading="lazy">
  <h1 class="display-5 fw-bold">Have a Recipe to share?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Publish your Recipe here, it will be reviewed by our team.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
    </div>
  </div>
</section>
 
<!-- Submit - End -->